.centerdiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

svg {
	width: 100vw;
	height: 100vh;
}

circle {
	fill: rgb(239, 231, 76);
}

body {
	background-color: rgb(55, 55, 55);
}

.target {
	fill: white;
}
.obstacle {
	fill: rgb(226, 97, 97);
}

image {
	image-rendering: pixelated;
}
